/* Основные стили */

html,
body {
  width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  color: #000000;

  overflow: hidden;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.img-wrap {
  display: flex;
}

.v-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** {
  outline: 1px solid gray;
}*/

/* Стили контейнеров */

.main {
  width: 100%;
  height: 100vh;

  background-image: url('../img/back.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Интро */

.intro {
  width: 400px;
  min-height: 500px;

  background-color: #ffffff;
  padding: 40px 30px;
}

.logo {
  margin-bottom: 30px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.intro__desc {
  margin-bottom: 20px;
  line-height: 20px;
}

.intro__form {
  width: 100%;
}

.form__group:not(:last-child) {
  margin-bottom: 15px;
}

.form__field {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 15px;

  border: 1px solid #333;
  border-radius: 4px;
}

.form__fields {
  margin-bottom: 20px;
}

.form__field:hover,
.form__field:focus {
  border: 1px solid #000000;
}

.operators {
  margin-bottom: 40px;
}

.operators__text {
  margin-bottom: 15px;
}

.operators__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.operators__item {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.operators__item:not(:last-child) {
  margin-right: 25px;
}

.operators__item svg {
  fill: #3E3E3E;
}

.operators__item--active svg {
  fill: #113f84;
}

.btn {
  background-color: transparent;
  border: none;
  display: inline-block;
}

.intro__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;

  padding: 15px 15px;

  color: #fff;
  font-size: 18px;
  font-weight: 500;

  border-radius: 25px;
  cursor: pointer;
}

.intro__btn:hover,
.intro__btn:focus {
  background-color: #b30f0f;
}

/* Страница карты */

.main.map {
  background: none;
}

.map .container {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.map__container {
  width: 100%;
  height: 100vh;
  /*background-color: rgba(0, 0, 0, 0.4);*/
}

/* Сайдбар */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 400px;
  min-height: 100vh;

  background-color: #ffffff;
  box-shadow: 5px 0 11px 7px rgba(0,0,0, 0.2);
}

.sidebar__menu {

}

.sidebar__toggle {
  position: absolute;
  min-width: 40px;
  margin-left: 407px;
  margin-top: 12px;
  top: 0;
  left: 0;
}

.sidebar__toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: #3E3E3E;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar__toggle-btn svg {
  width: 30px;
  height: 30px;
}

.sidebar__toggle-btn:hover svg {
  transform: scale(1.25);
}
