/* Шрифты */

/*@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}*/

/*@font-face {
  font-family: "Passion One";
  src: url("../fonts/passion-one.woff2") format("woff2"), url("../fonts/passion-one.woff") format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}*/

/* Основные стили */

html,
body {
  width: 100%;
  height: 100vh;

  margin: 0;
  padding: 0;

  background-color: #ffffff;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #000000;

  /*overflow: hidden;*/
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.img-wrap {
  display: flex;
}

.v-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

/* Стили контейнеров */

.main {
  width: 100%;
  height: 100vh;

  background-image: url('../img/back.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1300px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .container {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .container {
    width: 95%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Интро */

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 410px;
  min-height: 500px;

  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.2);
}

.logo {
  margin-bottom: 25px;

  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

@media (max-width: 360px) {
  .logo {
    font-size: 30px;
  }
}

.intro__desc {
  margin-bottom: 20px;
  line-height: 22px;
}

@media (max-width: 360px) {
  .intro__des {
    font-size: 14px;
  }
}

.intro__form {
  width: 100%;
}

.form__group {
  position: relative;
}

.form__group::after {
  position: absolute;
  content: "";
  top: 15px;
  right: 15px;
  width: 18px;
  height: 18px;
  background-image: url('../img/avto-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}

.form__group:not(:last-child) {
  margin-bottom: 15px;
}

.form__field {
  width: 100%;
  box-sizing: border-box;
  padding-top: 14px;
  padding-right: 50px;
  padding-bottom: 14px;
  padding-left: 15px;

  border: 1px solid #80808063;
  border-radius: 4px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
  z-index: 1;
}

.form__fields {
  margin-bottom: 30px;
}

.form__field:hover,
.form__field:focus {
  border: 1px solid gray;
}

.operators {
  margin-bottom: 40px;
}

@media (max-width: 500px) {
  .operators {
    margin-bottom: 30px;
  }
}

@media (max-width: 300px) {
  .operators {
    margin-bottom: 15px;
  }
}

.operators__text {
  margin-bottom: 15px;
  text-align: center;
}

.operators__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.operators__item {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.operators__item {
  margin-right: 12.5px;
  margin-left: 12.5px;
}

@media (max-width: 390px) {
  .operators__item {
    margin-bottom: 12px;
  }
}

@media (max-width: 365px) {
  .operators__item {
  margin-right: 6px;
  margin-left: 6px;
}
}

.operators__item svg {
  fill: #3E3E3E;
}

.operators__item--active svg {
  fill: #113f84;
}

.btn {
  background-color: transparent;
  border: none;
  display: inline-block;
}

.intro__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;

  padding: 15px 15px;

  color: #fff;
  font-size: 18px;
  font-weight: 500;

  border-radius: 25px;
  cursor: pointer;
}

.intro__btn:hover,
.intro__btn:focus {
  background-color: #b30f0f;
}

/* Страница карты */

.main.map {
  background: none;
}

.map .container {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

.map__container {
  width: 100%;
  height: 100vh;
  background-color: gray;
  z-index: 1;
}

/* Сайдбар */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  min-height: 100vh;

  background-color: #ffffff;
  box-shadow: 5px 0 11px 7px rgba(0,0,0, 0.2);

  z-index: 5;
}

.sidebar__menu {
  padding: 30px 30px;
}

.side-menu__text {
  width: 92%;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.side-menu .operators__text {
  font-weight: 500;
}

.standarts {
  margin-bottom: 60px;
}

.standarts__text {
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}

.standarts__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.standarts__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #ffffff;

  color: #3E3E3E;

  border: 2px solid #aaa;
  border-radius: 3px;
  cursor: pointer;
}

.standarts__item:not(:last-child) {
  margin-right: 20px;
}

.standarts__item--2g {
  background-color: #ffff00;
}

.standarts__item--3g {
  background-color: #00cc00;
}

.standarts__item--4g {
  background-color: #9933ff;
}

.standarts__item label {
  font-family: 'Passion One', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.standarts__item--active {
  border: 2px solid #444;
}

.side-menu__btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;

  padding: 15px 15px;

  color: #fff;
  font-size: 18px;
  font-weight: 500;

  border-radius: 25px;
  cursor: pointer;
}

.side-menu__btn:hover,
.side-menu__btn:focus {
  background-color: #b30f0f;
}

/* Кнопка сворачивания/разворачивания */

.sidebar__toggle {
  position: absolute;
  min-width: 40px;
  margin-left: 300px;
  margin-top: 12px;
  top: 0;
  left: 0;
  z-index: 6;
}

.sidebar__toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: #3E3E3E;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar__toggle-btn svg {
  width: 30px;
  height: 30px;
}

.sidebar__toggle-btn:hover svg {
  transform: scale(1.25);
}
